
h1{
    padding: 20px;
}
body{
    background-color:#dde4ef;
}

.nav-links{
    display: flex;
    gap: 25px;
    list-style: none;
    background-color:#255c8c;
    padding: 20px;
    position: sticky;
    top: 0;
}
.nav-links a {
    color: rgb(255, 251, 251);
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
}
.nav-links a:hover{
    color:rgb(31, 34, 34)

}
section{
    padding: 20px;
}